

.tableCol {
-fx-background-color:white;
-fx-font-family:"Serif Gothic Black";
-fx-background-radius: 50%;
-fx-background-insets: 0,1,2;
} 


#txtPongId {
-fx-font: 80px SansSerif-Gothic;
-fx-fill: white;
}

#btnEnterNameId {
-fx-background-color: blue;
-fx-font-weight: bold;
-fx-text-fill: black;
}

#btnStartId {
-fx-background-color: yellow;
-fx-font-weight: bold;
-fx-text-fill: black;
}











